body[data-page=page]>div {
    &#root>div>main div#main-content-container div.page.relative>div.relative div#hopLinks {
        margin-top: 16em;
        margin-left: 2em;
        user-select: none;

        & span#hopLinksTitle {
            font-size: 1.2em;
            font-weight: bold;
            margin-right: 1em;
        }

        & a:hover {
            text-decoration: underline;
        }

        & button#hopLinksUpdate {
            margin: 1em;
            font-size: .88em;
        }

        & div {

            &#outgoingLinks,
            &#externalLinks,
            &.tokenLink {
                display: flex;
                flex-wrap: wrap;

                &:hover {
                    outline-offset: 6px;
                    outline: 8px solid var(--ls-quaternary-background-color);
                }
            }

            &#outgoingLinks div.hopLinksTh#hopLinksKeyword {
                background-color: var(--ls-quaternary-background-color);
            }

            &#externalLinks {
                & div.hopLinksTh {
                    background-color: var(--ls-secondary-background-color);
                }

                & div.hopLinksTd {
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
            }

            &.hopLinksTh {
                display: flex;
                align-items: center;
                font-size: .87em;
                font-weight: bold;
                background-color: var(--ls-tertiary-background-color);

                &.th-type-pageTags {
                    background-color: var(--ls-table-tr-even-background-color);
                }
            }

            &.hopLinksTd {
                font-size: .78em;
                background-color: var(--ls-page-properties-background-color);
                border-radius: 0.8em;
                box-shadow: 0 0 0.5em 0.2em var(--ls-primary-background-color);
            }

            &.hopLinksTh,
            &.hopLinksTd {
                opacity: 0.8;
                padding-top: 1.4em;
                padding-bottom: 1.4em;
                padding-left: 1em;
                padding-right: 1em;
                width: 187px;
                min-height: 80px;
                max-height: 180px;
                overflow: auto;
                border: 1px solid var(--ls-guideline-color);

                &:hover {
                    outline-offset: 3px;
                    outline: 3px solid var(--ls-quaternary-background-color);
                    box-shadow: 0 0 0.5em 0.2em var(--ls-primary-background-color);
                    text-decoration: underline;

                    &:not(:has(div.hopLinks-popup-content)) {
                        opacity: 1;
                    }
                }
            }

            &:is(.tokenLink, #outgoingLinks):not(:has(div.hopLinksTd)) {
                display: none;
            }

            &.tokenLink label div.hopLinks-popup-content {
                transform: translate(0, -100%);
            }
        }

        & select {
            background-color: inherit;
            color: inherit;

            &>option {
                background-color: var(--ls-primary-background-color);
                color: var(--ls-primary-text-color);
            }
        }

        & label {

            & div {

                &.hopLinksTh,
                &.hopLinksTd {
                    height: 100%;
                    cursor: zoom-in;

                    &>a {
                        line-height: 1.4em;
                    }
                }

                &.hopLinks-popup-content {
                    overflow: auto;
                    min-width: 340px;
                    max-width: 660px;
                    min-height: 200px;
                    max-height: 620px;
                    color: var(--ls-primary-text-color);
                    padding: 1em;
                    box-shadow: 0 0 0.5em 0.2em var(--ls-primary-background-color);
                    display: none;
                    position: absolute;
                    transform: translate(-10%, -50%);
                    z-index: 1;
                    border-radius: 0.2em;
                    outline: 2px solid var(--ls-guideline-color);
                    outline-offset: 3px;
                    cursor: zoom-out;
                    font-size: .96em;
                    background-color: var(--ls-primary-background-color);

                    &:hover {
                        outline: 6px solid var(--ls-quaternary-background-color);
                        outline-offset: 6px;
                    }

                    &>div.hopLinks-popup-img-container {
                        display: flex;
                        gap: 0 20px;
                        padding: 6px;
                        margin-bottom: .4em;

                        &>div.hopLinks-popup-anchor {
                            font-weight: bold;

                            &>a {
                                margin-left: .5em;
                                margin-right: .5em;
                            }

                            &>img {
                                object-fit: scale-down;
                                max-width: 80px;
                                max-height: 80px;
                                vertical-align: top;
                            }
                        }
                    }

                    &>p {
                        font-size: small;
                        opacity: 0.7;

                        &.hopLinks-popup-updatedAt {
                            font-size: small;
                            opacity: 0.7;
                        }
                    }

                    &>pre {
                        line-height: 2.5em;
                        margin:unset;
                        padding: .5em;
                        font-size: .9em;
                    }
                }
            }

            & input[type="checkbox"] {
                display: none;

                &:checked+div.hopLinks-popup-content {
                    display: block;
                    transition: .2s;
                }
            }
        }


    }

    &[data-id="logseq-plugin-two-hop-link"] div[data-key="excludePages"].as-input textarea.form-input {
        height: 15em;
    }
}
